@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

html {
    scroll-behavior: smooth;
}


.club-header {
    font-size: 100px;
    color: white;
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;

}
.club-intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right, #1ad876, #1dc66f);
    height: 500px;
}


.header {
    position: fixed;
    z-index: 1;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}

.header-item {
    padding: 12px;
    color: white;
    transition: 0.1s;
    text-decoration: none;
    font-size: 17px;
}

.header-item:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.section-header {
    font-size: 60px;
}

.schedule {
      margin-top: 10px;
      padding: 10px;
      box-shadow: 0 0 10px 10px #eee;
      border: 2px solid black;
      border-radius: 4px;
}

.schedule th, .schedule td {
    border: 2px solid black;
    padding: 10px;
    border-radius: 3px;
    font-size: 20px;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.activites-list {
    display: flex;
    flex-direction: column;
}

.activity {
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 0 4px 4px #eee;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px; 
}

.activity-name {
    font-size: 20px;
}

.activity-description {
    margin-left: 30px;
}

.footer {
    background: linear-gradient(to right, #1ad876, #1dc66f);
    margin-top: 40px;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.contact-details {
    margin-left: 30px;
}

.contact-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    
}

.title-button {
    border: 4px solid #6f1dc6;
    background-color: white;
    border-radius: 100px;
    padding: 20px;
    font-size: 25px;
    font-family: "Work Sans", sans-serif;
    margin-top: 10px;
}

.title-button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .club-header {
	font-size: 70px;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
    }
    .container {
	margin-left: 10%;
	margin-right: 10%;
    }


    .description {
	margin-left: 2% !important;
	margin-right: 2% !important;
    }

    .club-intro {
	height: 700px;
    }


    
}
